@import url('https://fonts.googleapis.com/css?family=Lato100, 200, 300, 400, 500, 600, 700, 800&display=swap');

*{ 
  margin: 0;
  padding: 0;   
  border: 0;
}


header {
  font-family: Helvetica, sans-serif;  
  background-color: rgb(204, 200, 198);
  height: 300px;
  

}

nav {
  background-color:rgb(192, 191, 188);
  position: fixed;

}

body {
  background-color: rgb(175, 173, 173);
}

section {
  background-color: rgb(175, 173, 173);
}

#menu, li {
  display: inline-block;
  letter-spacing: 4px;
  text-decoration: none;
  float: right;
}

header {
  background-image: url("assets/img/city of london.webp");
}

.city-of-londonbridge {
  background-image: url("assets/img/city of london.webp");
  transform: translate(0%, 0.922208%) translate3d(0px, 0px, 0px) scale(1.01854, 1.01854);
}